[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.2.2"

[packages]
falcon = "==1.2.0"
gunicorn = "==19.7.1"
py-vkontakte = "==5.63.3"

[requires]
python_version = "3.6.7"
